.profile {
  max-width: 880px;
  margin: 40px auto 0;
  height: 120px;
  display: flex;
  /* justify-content: space-between; */
}

@media screen and (max-width: 896px) {
  .profile {
    flex-direction: column;
    max-width: 581px;
    height: 281px;
  }
}

@media screen and (max-width: 597px) {
  .profile {
    flex-direction: column;
    max-width: 282px;
    height: 286px;
  }
}