.header {
    max-width: 880px;
    margin: 45px auto 0 auto;
    display: flex;
    max-height: 74px;
    justify-content: space-between;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 597px) {
    .header {
        position: relative;
        width: 320px;
        height: 56px;
        margin: 28px auto 0;
        left: calc((282px - 320px) / 2);
    }
}