.card__image{
    object-fit:cover;
    z-index: 0;
    width: 282px;
    height: 282px;
<<<<<<< HEAD
    margin-top: -37.3px;
=======
    /* margin-top: -37.3px; */
>>>>>>> 8ce0733e9381e41b47b0f7a3d999606304807431
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card__image:hover{
    cursor: pointer;
}