.profile__info {
  display: grid;
  max-width: 570px;
  max-height: 73px;
  grid-template-columns: 294px 24px;
  grid-template-rows: 39px 18px;
  gap: 16px 18px;
  margin: auto auto auto 30px;
  text-overflow: ellipsis;
}

@media screen and (max-width: 597px) {
  .profile__info {
    margin: 26px auto 0;
    max-width: 320px;
  }
}
