.profile__info {
  display: grid;
  max-width: 580px;
  max-height: 73px;
  grid-template-columns: max-content 24px;
  grid-template-rows: 39px 18px;
  gap: 16px 18px;
  margin: auto auto auto 30px;
  text-overflow: ellipsis;
  
}
